{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block main %}

  <div class="Middle Middle_top">
    <div class="Middle-top">
      <div class="wrap">
        <div class="Middle-header">
          <h1 class="Middle-title">{% trans 'Корзина' %}</h1>
          <ul class="breadcrumbs Middle-breadcrumbs">
            <li class="breadcrumbs-item"><a href="{% url 'main_page' %}">home</a>
            </li>
            <li class="breadcrumbs-item breadcrumbs-item_current"><span>{% trans 'Корзина' %}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="Section">
      <div class="wrap">
        {% if cart %}
          <form class="form Cart" action="#" method="post">
            {% for cart_product in cart %}
              <div class="Cart-product">
                <div class="Cart-block Cart-block_row">
                  <div class="Cart-block Cart-block_pict">
                    <a class="Cart-pict" href="#">
                      <img class="Cart-img" src="{{ cart_product.product.images.all.0 }}" alt="card.jpg"/>
                    </a>
                  </div>
                  <div class="Cart-block Cart-block_info"><a class="Cart-title" href="#">{{ cart_product.product.name }}</a>
                    <div class="Cart-desc">{{ cart_product.product.description }}
                    </div>
                  </div>
                  <div class="Cart-block Cart-block_price">
                    {% if cart_product.shop_product.old_price %}
                      <div class="Cart-price Cart-price_old">{{ cart_product.shop_product.old_price }}</div>
                    {% endif %}
                    <div class="Cart-price">{{ cart_product.shop_product.price }}
                    </div>
                  </div>
                </div>
                <div class="Cart-block Cart-block_row">
                  <div class="Cart-block Cart-block_seller">
                    <!-- - var options = setOptions(items, ['value', 'selected', 'disabled']);-->
                    <select class="form-select">
                      {% for seller in cart_product.product.shop_products.all %}
                        <option value="{{ seller.store.id }}"
                            {% if seller.store.id == cart_product.shop_product.store.id %} selected="selected" {% endif %}>
                          {{ seller.store.name }}
                        </option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="Cart-block Cart-block_amount">
                    <div class="Cart-amount">
                      <div class="Amount">
                        <button class="Amount-remove" type="button"></button>
                        <input class="Amount-input form-input" name="amount" type="text" value="{{ cart_product.quantity }}"/>
                        <button class="Amount-add" type="button">
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="Cart-block Cart-block_delete">
                    <a class="Cart-delete" href="{% url 'cart:cart_remove' cart_product.product.id %}">
                      <img src="{% static 'assets/img/icons/card/delete.svg' %}" alt="delete.svg"/>
                    </a>
                  </div>
                </div>
              </div>
            {% endfor %}
            <div class="Cart-total">
              <div class="Cart-block Cart-block_total">
                <strong class="Cart-title">{% trans 'Итого' %}:</strong>
                <span class="Cart-price">{{ cart.get_total_price }}</span>
                {% if user.cart.discount %}
                  <span class="Cart-price_old">{{ user.cart.total_price_old }}</span>
                {% endif %}
              </div>
              <div class="Cart-block"><a class="btn btn_success btn_lg" href="{#% url 'order' %#}">{% trans 'Оформить заказ' %}</a>
              </div>
            </div>
          </form>
        {% endif %}
      </div>
    </div>
  </div>

{% endblock %}