{% extends 'base.html' %} {% load static %} {% block main%}
<div class="Middle Middle_top">
  <div class="Middle-top">
    <div class="wrap">
      <div class="Middle-header">
        <h1 class="Middle-title">ПРОФИЛЬ</h1>
        <ul class="breadcrumbs Middle-breadcrumbs">
          <li class="breadcrumbs-item">
            <a href="#">ДОМОЙ</a>
          </li>
          <li class="breadcrumbs-item breadcrumbs-item_current">
            <span>ПРОФИЛЬ</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="Section Section_column Section_columnLeft">
    <div class="wrap">
      <div class="Section-column">
        <div class="Section-columnSection">
          <header class="Section-header">
            <strong class="Section-title">Меню</strong>
          </header>
          <div class="Section-columnContent sticky">
            <div class="NavigateProfile">
              <ul class="menu menu_vt">
                <li class="menu-item">
                  <a class="menu-link_ACTIVE" href="#">Профиль</a>
                </li>
                <li class="menu-item">
                  <a class="menu-link" href="{% url 'history-order' %}">История заказов</a>
                </li>
                <li class="menu-item">
                  <a class="menu-link" href="#">Просмотренные продукты</a>
                </li>
                <li class="menu-item menu-item">
                  <a class="menu-link" href="#">Комната продавцов</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="Section-content">
        <header class="Section-header margin">
          <h2 class="Section-title">Ваш профиль</h2>
        </header>
        <div class="Account">
          <div class="Account-group">
            <div class="Account-column Account__avatar">
              <img alt="avatar" src="#" />
            </div>
            <div class="Account-column">
              <div class="Account-name">Имя Фамилия</div>
              <a class="Account-editLink" href="{% url 'profile' %}"
                >Изменить профиль</a
              >
            </div>
          </div>
          <div class="Account-group">
            <div class="Account-column Account-column_full">
              <header class="Section-header">
                <h2 class="Section-title">История заказов</h2>
              </header>
              <div class="Cards Cards_account" style="position: relative">
                <a type="button" class="btn__show-history" href="#"
                  >Показать историю заказов</a
                >
                <div class="Orders historyOrder">
                  <div class="Order Order_anons">
                    <div class="Order-personal">
                      <div class="row">
                        <div class="row-block">
                          <a class="Order-title" href="{% url 'one-order' %}"
                            >Заказ&#32;<span class="Order-numberOrder">№1</span
                            >&#32;от&#32;<span class="Order-dateOrder"
                              >05.10.2022</span
                            ></a
                          >
                        </div>
                        <div class="row-block">
                          <div class="Order-info Order-info_delivery">
                            <div class="Order-infoType">Тип доставки:</div>
                            <div class="Order-infoContent">
                              Один из способов
                            </div>
                          </div>
                          <div class="Order-info Order-info_pay">
                            <div class="Order-infoType">Оплата:</div>
                            <div class="Order-infoContent">
                              Один из способов
                            </div>
                          </div>
                          <div class="Order-info">
                            <div class="Order-infoType">Общая стоимость:</div>
                            <div class="Order-infoContent">
                              <span class="Order-price">1.00$</span
                              ><span class="Order-price_old">3.99$</span>
                            </div>
                          </div>
                          <div class="Order-info Order-info_status">
                            <div class="Order-infoType">Статус:</div>
                            <div class="Order-infoContent">Оплачен</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="Order Order_anons">
                    <div class="Order-personal">
                      <div class="row">
                        <div class="row-block">
                          <a class="Order-title" href="{% url 'one-order' %}"
                            >Заказ&#32;<span class="Order-numberOrder">№2</span
                            >&#32;от&#32;<span class="Order-dateOrder"
                              >05.10.2022</span
                            ></a
                          >
                        </div>
                        <div class="row-block">
                          <div class="Order-info Order-info_delivery">
                            <div class="Order-infoType">Тип доставки:</div>
                            <div class="Order-infoContent">
                              Один из способов
                            </div>
                          </div>
                          <div class="Order-info Order-info_pay">
                            <div class="Order-infoType">Оплата:</div>
                            <div class="Order-infoContent">
                              Один из способов
                            </div>
                          </div>
                          <div class="Order-info">
                            <div class="Order-infoType">Общая стоимость:</div>
                            <div class="Order-infoContent">
                              <span class="Order-price">1.00$</span>
                            </div>
                          </div>
                          <div class="Order-info Order-info_status">
                            <div class="Order-infoType">Статус:</div>
                            <div class="Order-infoContent">Не оплачен</div>
                          </div>
                          <div class="Order-info Order-info_error">
                            <div class="Order-infoType">Оплата не прошла:</div>
                            <div class="Order-infoContent">
                              Оплата не выполнена, попробуйте ещё раз
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="Order Order_anons">
                    <div class="Order-personal">
                      <div class="row">
                        <div class="row-block">
                          <a class="Order-title" href="oneorder.html"
                            >Заказ&#32;<span class="Order-numberOrder">№3</span
                            >&#32;от&#32;<span class="Order-dateOrder"
                              >05.10.2022</span
                            ></a
                          >
                        </div>
                        <div class="row-block">
                          <div class="Order-info Order-info_delivery">
                            <div class="Order-infoType">Тип доставки:</div>
                            <div class="Order-infoContent">
                              Один из способов
                            </div>
                          </div>
                          <div class="Order-info Order-info_pay">
                            <div class="Order-infoType">Оплата:</div>
                            <div class="Order-infoContent">
                              Один из способов
                            </div>
                          </div>
                          <div class="Order-info">
                            <div class="Order-infoType">Общая стоимость:</div>
                            <div class="Order-infoContent">
                              <span class="Order-price">2.00$</span>
                            </div>
                          </div>
                          <div class="Order-info Order-info_status">
                            <div class="Order-infoType">Статус:</div>
                            <div class="Order-infoContent">Доставляется</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div style="text-align: center">
                    <a type="button" class="btn__close">свернуть</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="Account-group">
            <div class="Account-column Account-column_full">
              <header class="Section-header">
                <h2 class="Section-title">История просмотров</h2>
              </header>

              <div class="Cards Cards_account">
                <div class="Card">
                  <a class="Card-picture" href="#"
                    ><img
                      src="{% static 'assets/img/content/home/card.jpg' %}"
                      alt="card.jpg"
                  /></a>
                  <div class="Card-content">
                    <strong class="Card-title"><a href="#">Продукт</a> </strong>
                    <div class="Card-description">
                      <div class="Card-cost">
                        <span class="Card-priceOld">$5.00</span
                        ><span class="Card-price">$4.50</span>
                      </div>
                      <div class="Card-category">Категория</div>
                      <div class="Card-hover">
                        <a class="Card-btn" href="#"
                          ><img
                            src="{% static 'assets/img/icons/card/bookmark.svg' %}"
                            alt="bookmark.svg" /></a
                        ><a class="Card-btn" href="#"
                          ><img
                            src="{% static 'assets/img/icons/card/cart.svg' %}"
                            alt="cart.svg" /></a
                        ><a class="Card-btn" href="#"
                          ><img
                            src="{% static 'assets/img/icons/card/change.svg' %}"
                            alt="change.svg"
                        /></a>
                      </div>
                    </div>
                  </div>
                  <div class="Card-sale">-10%</div>
                </div>
                <div class="Card hide_700">
                  <a class="Card-picture" href="#"
                    ><img
                      src="{% static 'assets/img/content/home/card.jpg' %}"
                      alt="card.jpg"
                  /></a>
                  <div class="Card-content">
                    <strong class="Card-title"><a href="#">Продукт</a> </strong>
                    <div class="Card-description">
                      <div class="Card-cost">
                        <span class="Card-priceOld">$15.00</span
                        ><span class="Card-price">$12.00</span>
                      </div>
                      <div class="Card-category">Категория</div>
                      <div class="Card-hover">
                        <a class="Card-btn" href="#"
                          ><img
                            src="{% static 'assets/img/icons/card/bookmark.svg' %}"
                            alt="bookmark.svg" /></a
                        ><a class="Card-btn" href="#"
                          ><img
                            src="{% static 'assets/img/icons/card/cart.svg' %}"
                            alt="cart.svg" /></a
                        ><a class="Card-btn" href="#"
                          ><img
                            src="{% static 'assets/img/icons/card/change.svg' %}"
                            alt="change.svg"
                        /></a>
                      </div>
                    </div>
                  </div>
                  <div class="Card-sale">-20%</div>
                </div>
                <div class="Card hide_md">
                  <a class="Card-picture" href="#"
                    ><img
                      src="{% static 'assets/img/content/home/card.jpg' %}"
                      alt="card.jpg"
                  /></a>
                  <div class="Card-content">
                    <strong class="Card-title"><a href="#">Продукт</a> </strong>
                    <div class="Card-description">
                      <div class="Card-cost">
                        <span class="Card-priceOld">$5.00</span
                        ><span class="Card-price">$2.50</span>
                      </div>
                      <div class="Card-category">Категория</div>
                      <div class="Card-hover">
                        <a class="Card-btn" href="#"
                          ><img
                            src="{% static 'assets/img/icons/card/bookmark.svg' %}"
                            alt="bookmark.svg" /></a
                        ><a class="Card-btn" href="#"
                          ><img
                            src="{% static 'assets/img/icons/card/cart.svg' %}"
                            alt="cart.svg" /></a
                        ><a class="Card-btn" href="#"
                          ><img
                            src="{% static 'assets/img/icons/card/change.svg' %}"
                            alt="change.svg"
                        /></a>
                      </div>
                    </div>
                  </div>
                  <div class="Card-sale">-50%</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
