{% extends 'base.html' %} {% load static %} {% load i18n %} {% block main%}
<div class="Middle Middle_top">
  <div class="Middle-top">
    <div class="wrap">
      <div class="Middle-header">
        <h1 class="Middle-title">Заказ №2</h1>
        <ul class="breadcrumbs Middle-breadcrumbs">
          <li class="breadcrumbs-item">
            <a href="#">ДОМОЙ</a>
          </li>
          <li class="breadcrumbs-item breadcrumbs-item_current">
            <span>ПРОФИЛЬ</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="Section Section_column Section_columnLeft">
    <div class="wrap">
      <div class="Section-column">
        <div class="Section-columnSection">
          <header class="Section-header">
            <strong class="Section-title">Меню</strong>
          </header>

          <div class="Section-columnContent sticky">
            <div class="NavigateProfile">
              <ul class="menu menu_vt">
                <li class="menu-item">
                  <a class="menu-link" href="{% url 'account' %}">Профиль</a>
                </li>
                <li class="menu-item_ACTIVE">
                  <a class="menu-link" href="#">История заказов</a>
                </li>
                <li class="menu-item">
                  <a class="menu-link" href="#">Просмотренные продукты</a>
                </li>
                <li class="menu-item menu-item">
                  <a class="menu-link" href="#">Комната продавцов</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="Section-content">
        <header class="Section-header margin">
          <h2 class="Section-title">История заказа №{{ goods_in_order.pk }}</h2>
        </header>
        <div class="Orders"></div>
        <div class="Order">
          <div class="Order-infoBlock">
            <div class="Order-personal">
              <div class="row">
                <div class="row-block" style="margin-bottom: 30px">
                  <div class="Order-info Order-info_date">
                    <div class="Order-infoType">Дата заказа:</div>
                    <div class="Order-infoContent">{{ goods_in_order.ordered}}</div>
                  </div>
                  <div class="Order-info">
                    <div class="Order-infoType">Покупатель:</div>
                    <div class="Order-infoContent">{{ goods_in_order.first_second_names}}</div>
                  </div>
                  <div class="Order-info">
                    <div class="Order-infoType">Телефон:</div>
                    <div class="Order-infoContent">{{ goods_in_order.phone }}</div>
                  </div>
                  <div class="Order-info">
                    <div class="Order-infoType">E-mail:</div>
                    <div class="Order-infoContent">{{ goods_in_order.email}}</div>
                  </div>
                </div>
                <div class="row-block">
                  <div class="Order-info Order-info_delivery">
                    <div class="Order-infoType">Тип доставки:</div>
                    <div class="Order-infoContent">{{ goods_in_order.delivery}}</div>
                  </div>
                  <div class="Order-info">
                    <div class="Order-infoType">Город:</div>
                    <div class="Order-infoContent">{{ goods_in_order.city }}</div>
                  </div>
                  <div class="Order-info">
                    <div class="Order-infoType">Адрес:</div>
                    <div class="Order-infoContent">{{ goods_in_order.address}}</div>
                  </div>
                  <div class="Order-info Order-info_pay">
                    <div class="Order-infoType">Оплата:</div>
                    <div class="Order-infoContent">{{ goods_in_order.payment}}</div>
                  </div>
                  <div class="Order-info Order-info_status">
                    <div class="Order-infoType">Статус:</div>
                      {% if goods_in_order.paid %}
                    <div class="Order-infoContent">Оплачен</div>
                      {% else %}
                    <div class="Order-infoContent">Не оплачен</div>
                      {% endif %}
                  </div>
{#                  <div class="Order-info Order-info_error">#}
{#                    <div class="Order-infoType">Оплата не прошла:</div>#}
{#                    <div class="Order-infoContent">#}
{#                      Оплата не выполнена, попробуйте ещё раз#}
{#                    </div>#}
{#                  </div>#}
                </div>
              </div>
            </div>
            <div class="Cart Cart_order">
            {% for good in goods_in_order.order_goods.all %}
              <div class="Cart-product">
                <div class="Cart-block Cart-block_row">
                  <div class="Cart-block Cart-block_pict">
                    <a class="Cart-pict" href="#"
                      ><img class="Cart-img" src="" alt="фото товара"
                    /></a>
                  </div>
                  <div class="Cart-block Cart-block_info">
                    <a class="Cart-title" href="#">Товар</a>
                    <div class="Cart-desc">{{ order.good_in_cart.shop_product.product.description}}</div>
                  </div>
                  <div class="Cart-block Cart-block_price">
                    <div class="Cart-price_old">{{ order.good_in_cart_shop_product.product.old_price }}$</div>
                    <div class="Cart-price">{{ order.good_in_cart_shop_product.product.price }}$</div>
                  </div>
                </div>
                <div class="Cart-block Cart-block_row">
                  <div class="Cart-block Cart-block_seller">
                    <div>Продавец:</div>
                    <div>{{ order.good_in_cart.shop_product.store.name }}</div>
                  </div>
                  <div class="Cart-block Cart-block_amount">{{ order.good_in_cart.quantity }} шт.</div>
                </div>
              </div>
              {% endfor %}
              <div class="Cart-total">
                <div class="Cart-block Cart-block_total">
                  <strong class="Cart-title">Итого:
                      <span class="Cart-price">{{ order.all_goods_price_disc_delivery }}$</span>
                      <span class="Cart-price_old">{{ order.all_goods_price }}$</span>
                  </strong>
                </div>
                  {% if goods_in_order.paid == False %}
                    <div class="Cart-block">
                        {% if goods_in_order.payment == "картой" %}
                            <a class="btn btn_primary btn_lg" type="submit" href="{% url 'payment_order' order_pk=goods_in_order.pk %}">
                                Оплатить
                            </a>
                            {% else %}
                            <a class="btn btn_primary btn_lg" type="submit" href="{% url 'history-order' %}">{% translate 'Оплата при получении' %}</a>
                        {% endif %}
                    </div>
                  {% else %}
                      <div class="Cart-block">
                            <p style="font-size: 23px">Заказ оплачен</p>
                      </div>
                  {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
