{% extends 'base.html' %} {% load static %} {% block main %}

<div class="Middle Middle_top">
  <div class="Middle-top">
    <div class="wrap">
      <div class="Middle-header">
        <h1 class="Middle-title">Комната продавца</h1>
        <ul class="breadcrumbs Middle-breadcrumbs">
          <li class="breadcrumbs-item"><a href="/">Домой</a></li>
          <li class="breadcrumbs-item breadcrumbs-item_current">
            <span>Комната продавца</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="Section Section_column Section_columnLeft">
    <div class="wrap">
      <div class="Section-column">
        <div class="Section-columnSection sticky">
          <header class="Section-header">
            <strong class="Section-title">Меню</strong>
          </header>
          <div class="Section-columnContent">
            <div class="NavigateProfile margin__menu">
              <ul class="menu menu_vt">
                <li class="menu-item">
                  <a class="menu-link" href="#">Профиль</a>
                </li>
                <li class="menu-item">
                  <a class="menu-link" href="#">История заказов</a>
                </li>
                <li class="menu-item">
                  <a class="menu-link" href="#">Просмотренные продукты</a>
                </li>
                <li class="menu-item_ACTIVE menu-item">
                  <a class="menu-link" href="#">Комната продавцов</a>
                </li>
              </ul>
            </div>
          </div>

          <header class="Section-header">
            <strong class="Section-title">Создание</strong>
          </header>
          <div class="menu__creation">
            <ul class="menu menu_vt">
              <li class="menu-item size">
                <a href="{% url 'create_shop' %}">
                  <span class="seller-text">Добавить магазин</span>
                </a>
              </li>
              <li class="menu-item size">
                <a href="{% url 'create_good' %}">
                  <span class="seller-text-2">Добавить продукт</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="Section-content">
        <header class="Section-header margin">
          <h2 class="Section-title">Ваш магазин</h2>
        </header>
        <div class="Seller-wrap" style="justify-content: center">
          <div class="store">
            <h3 class="seller-title custom_align-center">Название магазина</h3>
            <div class="seller-logo">
              <img src="#" class="seller-icon" />
            </div>
            <form action="#" method="get">
              <input type="hidden" name="id" value="" />
              <button type="submit" class="btn btn_reset">Удалить</button>
              <a href="#">
                <button type="submit" class="btn btn_success">Изменить</button>
              </a>
            </form>
          </div>

          <div class="Account-group">
            <div class="Account-column Account-column_full">
              <header class="Section-header">
                <h2 class="Section-title">Ваши продукты</h2>
              </header>
              <div class="Cards Cards_account" style="position: relative">
                <div class="Account-editLink Account-editLink_view">
                  <a href="#">Показать все продукты</a>
                </div>
              </div>
            </div>
          </div>

          <div class="Account-group">
            <div class="Account-column Account-column_full">
              <header class="Section-header">
                <h2 class="Section-title">Скидки на товары</h2>
              </header>
              <div class="Cards Cards_account">
                <div class="Card">
                  <a class="Card-picture" href="#"><img src="#" alt="" /></a>
                  <div class="Card-content">
                    <strong class="Card-title">Продукт </strong>
                    <div class="Card-description">
                      <div class="Card-category">Описание</div>
                    </div>
                  </div>
                  <form action="" method="get">
                    <div class="btns">
                      <input type="hidden" name="id" value="" />
                      <button type="Submit" class="btn btn_reset">
                        Удалить
                      </button>
                      <a class="btn btn_success" href="#"> Изменить </a>
                    </div>
                  </form>
                </div>
                <div class="Card">
                  <a class="Card-picture" href="#"><img src="#" alt="" /></a>
                  <div class="Card-content">
                    <strong class="Card-title">Продукт </strong>
                    <div class="Card-description">
                      <div class="Card-category">Описание</div>
                    </div>
                  </div>
                  <form action="" method="get">
                    <div class="btns">
                      <input type="hidden" name="id" value="" />
                      <button type="Submit" class="btn btn_reset">
                        Удалить
                      </button>
                      <a class="btn btn_success" href="#"> Изменить </a>
                    </div>
                  </form>
                </div>
                <div class="Card">
                  <a class="Card-picture" href="#"><img src="#" alt="" /></a>
                  <div class="Card-content">
                    <strong class="Card-title">Продукт </strong>
                    <div class="Card-description">
                      <div class="Card-category">Описание</div>
                    </div>
                  </div>
                  <form action="" method="get">
                    <div class="btns">
                      <input type="hidden" name="id" value="" />
                      <button type="Submit" class="btn btn_reset">
                        Удалить
                      </button>
                      <a class="btn btn_success" href="#"> Изменить </a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <div class="Account-group">
            <div class="Account-column Account-column_full">
              <header class="Section-header">
                <h2 class="Section-title">Скидка группе товаров</h2>
              </header>
              <div class="Cards Cards_account">
                <div class="Card">
                  <a class="Card-picture" href="#"><img src="#" alt="" /></a>
                  <div class="Card-content">
                    <strong class="Card-title">Имя</strong>
                    <div class="Card-description">
                      <div class="Card-category">Описание</div>
                    </div>
                  </div>
                  <form action="#" method="get">
                    <div class="btns">
                      <input type="hidden" name="id" value="" />
                      <button type="Submit" class="btn btn_reset">
                        Удалить
                      </button>
                      <a class="btn btn_success" href="#"> Изменить </a>
                    </div>
                  </form>
                </div>
                <div class="Card">
                  <a class="Card-picture" href="#"><img src="#" alt="" /></a>
                  <div class="Card-content">
                    <strong class="Card-title">Имя</strong>
                    <div class="Card-description">
                      <div class="Card-category">Описание</div>
                    </div>
                  </div>
                  <form action="#" method="get">
                    <div class="btns">
                      <input type="hidden" name="id" value="" />
                      <button type="Submit" class="btn btn_reset">
                        Удалить
                      </button>
                      <a class="btn btn_success" href="#"> Изменить </a>
                    </div>
                  </form>
                </div>
                <div class="Card">
                  <a class="Card-picture" href="#"><img src="#" alt="" /></a>
                  <div class="Card-content">
                    <strong class="Card-title">Имя</strong>
                    <div class="Card-description">
                      <div class="Card-category">Описание</div>
                    </div>
                  </div>
                  <form action="#" method="get">
                    <div class="btns">
                      <input type="hidden" name="id" value="" />
                      <button type="Submit" class="btn btn_reset">
                        Удалить
                      </button>
                      <a class="btn btn_success" href="#"> Изменить </a>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
</div>
